@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/SofiaProMedium.eot');
    src: local('Sofia Pro Medium'), local('SofiaProMedium'),
    url('../assets/fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/SofiaProMedium.woff2') format('woff2'),
    url('../assets/fonts/SofiaProMedium.woff') format('woff'),
    url('../assets/fonts/SofiaProMedium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../assets/fonts/SofiaProBold.eot');
    src: local('Sofia Pro Bold'), local('SofiaProBold'),
    url('../assets/fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/SofiaProBold.woff2') format('woff2'),
    url('../assets/fonts/SofiaProBold.woff') format('woff'),
    url('../assets/fonts/SofiaProBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../assets/fonts/CircularStd-Medium.eot');
    src: local('CircularStd-Medium'),
    url('../assets/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('../assets/fonts/CircularStd-Medium.woff') format('woff'),
    url('../assets/fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root{
    --aside-width: 250px;
    --font-sm: 400;
    --font-lg: 800;
    --width-img: calc(50% - 10px);
}
a {
    text-decoration: none;
    display: inline-block;
}
.container{
    /*width: 100%;*/
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
    padding-right: 40px;
}
header {
    position: relative;
    padding-left: 37px;
}

.aside__menu {
    position: absolute;
    width: var(--aside-width);
    height: 100vh;
    left: 0;
    top: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 51px;
}
.aside__menu-logo{
    margin-bottom: 57px;
}
.aside__menu h2{
    color: #000;
    font-family: Sofia Pro, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: var(--font-lg);
    margin-bottom: 45px;
}
.aside__menu-list{
    column-gap: 25px;
}
.aside__menu-list li{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 25px 0;
}

.aside__menu-list ul{
    list-style: none;
}
.aside__menu-list a{
    color: #000;
    font-family: 'Sofia Pro', sans-serif ;
    font-size: 16px;
    font-weight: var(--font-sm);
}
.aside__menu-img{
    max-width: 21px;
}
.header__menu{
    display: flex;
    margin-left: var(--aside-width);
    height: 75px;
}
.header__menu-list{
    display: flex;

}
.header__menu-list ul{
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 47px;
    gap: 42px;
}
.header__menu-list a{
    color: #000;
    font-family: Circular Std, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: var(--font-sm);
    line-height: normal;
    position: relative;
}
.header__menu-list a::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: 0.3s;
}
.header__menu-list a:hover:after{
    width: 100%;
}
.header__menu-img{
    gap: 25px;
    align-items: center;
}
.header__menu-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 17px;
}
.header__menu-search img{
    max-width: 24px;
    max-height: 24px;
}
.header__menu-search input{
    border: none;
    color: #000;
    font-family: Circular Std, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: var(--font-sm);
    line-height: normal;
}
main{
    margin-left: var(--aside-width);
}

.img__top, .img__bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img__vertical, .img__horizontal{
    display: flex;
    width: var(--width-img);
    gap: 20px;
}
.img__vertical-bottom, .img__vertical-top{
    width: var(--width-img);
    height: calc((100vh - 90px) / 2);
    min-height: 380px;
}
.img__horizontal-left, .img__horizontal-right{
    width: 100%;
    height: calc((100vh - 100px)/4);
    min-height: 180px;
}

.img__horizontal{
    flex-direction: column;
}
.img__vertical-top, .img__vertical-bottom, .img__horizontal-left, .img__horizontal-right{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.img__vertical-top p{
    color: #000;
    font-family: Sofia Pro, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: var(--font-lg);
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}


